<!doctype html>
<html>
	<head>
		<title>Cayenne WO Demo</title>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
		<wo:ERXStyleSheet rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
		<wo:ERXStyleSheet rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/4.4.6/collection/icon/icon.css" />
		<wo:ERXJavaScript filename="adminlte-2.4.18/jquery.min.js" />
		<wo:ERXJavaScript filename="bootstrap-3.4.1/js/bootstrap.min.js" />
		<wo:ERXJavaScript filename="adminlte-2.4.18/adminlte.min.js" />
		<wo:ERXStyleSheet rel="stylesheet" filename="bootstrap-3.4.1/css/bootstrap.min.css" />
		<wo:ERXStyleSheet rel="stylesheet" filename="adminlte-2.4.18/AdminLTE.min.css" />
		<wo:ERXStyleSheet rel="stylesheet" filename="adminlte-2.4.18/skins/skin-blue-light.min.css" />
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
	</head>
	<body class="hold-transition skin-blue-light sidebar-mini">
		<div class="wrapper">
			<header class="main-header">
				<a href="/" class="logo">
					<span class="logo-mini"><b>C</b>W</span>
					<span class="logo-lg"><b>Cayenne</b>WO</span>
				</a>
				<nav class="navbar navbar-static-top" role="navigation">
					<a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
						<span class="sr-only">Toggle navigation</span>
					</a>
				</nav>
			</header>
			<aside class="main-sidebar">
				<section class="sidebar">
					<ul class="sidebar-menu" data-widget="tree">
						<li><a href="#"><i class="fa fa-pencil" aria-hidden="true"></i> Getting started</a></li>
					</ul>
				</section>
			</aside>
			<div class="content-wrapper">
				<section class="content container-fluid">
					<wo:content />
				</section>
			</div>
		</div>
	</body>
</html>